:root {
    --sunglo: #E06C75;
    --fountain_blue: #56B6C2;
    --cornflower_blue: #61AFEF;
    --olivine: #98C379;
    --whiskey:#D19A66;
    --harvest_gold: #E5C07B;
    --lavender: #B57EDC;
    --shuttle_gray: #5F6672;
    --cadet_blue: #A9B2C3;
    --ghost: #C6CCD7;
    --bunker: #0D1117;
    --woodsmoke: #181A1F;
    --shark: #21252B;
    --dodger_blue: #1085FF;
    --rob_roy: #E9D16C;
    --valencia: #D74E42;
    --highlight: rgba(229, 192, 123, 0.4);
}

* {
    background-color: var(--woodsmoke);
}

html {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    line-height: 1.5;
    background-color: var(--woodsmoke);
}

body {
    margin: 0 auto 0 auto;
    max-width: 42rem;
    color: var(--cadet_blue);
    padding: 1.5rem;
}

body .section_title, footer {
    font-weight: 400;
    text-align: center;
    margin-top: 2.75rem;
}

.section_title {
    margin: -0.75rem;
}

.section_title span {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

footer {
    font-size: 0.875rem;
}

body a {
    display: inline-block;
    text-decoration: none;
    color: var(--cadet_blue);
}

body a:hover {
    color: var(--woodsmoke);
    background-color: var(--cornflower_blue);
}

body a:hover mark {
    color: var(--woodsmoke);
    background-color: var(--cornflower_blue);
    font-weight: bold;
}

body a:hover time {
    color: var(--woodsmoke);
    background-color: var(--cornflower_blue);
}

.search-item mark {
    color: var(--cadet_blue);
    background: var(--highlight);
    /* font-weight: bold; */
}

#logo {
    margin-top: 2.75rem;
    white-space: pre;
    overflow: hidden;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

#content {
    text-align: center;
    margin-top: 2.75rem;
}

#search input {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 1rem;
    width: 100%;
    background-color: var(--woodsmoke);
    color: var(--cadet_blue);
    border: 0;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

#search input::placeholder {
    color: var(--shuttle_gray);
}

.search-item-body {
    color: var(--shuttle_gray);
}

#projects, #search, #posts, #categories {
    border-style: solid;
    border-width: 1px;
    border-color: var(--ghost);
    border-radius: 0.25rem;
    padding: 1.25rem;
}

#projects {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

#projects span {
    flex: 1 1 0%;
}

#categories {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

#not_found {
    text-align: center;
    margin-top: 3rem;
}

article h1,
article h2 {
    color: var(--cornflower_blue);
}

article h5,
article h6 {
    margin-top: 0;
}

article .title, .info {
    color: var(--cornflower_blue);
}

article, article .title {
    margin-top: 5rem;
    margin-bottom: 0;
}

article .info {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

article .tags {
    display: inline;
    overflow: hidden;
    color: var(--shuttle_gray);
}

code {
    background: var(--shark);
    padding: 0.2rem 0.3rem;
    border-radius: 0.5rem;
}

pre, 
pre code,
pre code span {
    background: var(--shark) !important;
}

pre {
    background: var(--shark);
    margin-top: 0.5rem;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
}

pre code {
    padding: 0;
    border-radius: 0;
}
